<div class="col-md-4 ">
  <div class="panel panel-info " style="height: 96.9%; " >
      <!--style="height: 96.9%; width:110%; background: #ffffff;border: 1px solid #dddddd;border-radius: 3px;margin-bottom: 20px;"-->
    <!--<div class="panel panel-info">-->
    <div class="panel-heading ">
                <!--<div class="panel-title">Sign Up</div>-->
                 <h3  style="text-align:center">Activity Status</h3>
                <!--<div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" href="/accounts/login/">Sign In</a></div>-->
    </div>
    <!--</div>-->
    <!--<div class="bg-info" style="width: 100%;"> &lt;!&ndash;#style="width: 100%;"&ndash;&gt;-->
        <!--<h3  style="text-align:center">Activity Status</h3>-->
    <!--</div>-->
    <div style="height:87.5%;" class="panel bg-light">
      <div style="margin-left: 5px; margin-right: 5px;" class="bg-light" >
        <!--style="height: 87%; background: #ffffff; margin-left: 5px; margin-right: 5px;  padding: 10px;"-->

          <!--<h1 style="color:blue;">This is a Blue Heading</h1>-->

          <!--<h6 style="color:{{color}};" class="badge  badge-light">{{q}}</h6>-->
          <h6 style="color:{{color}}; font-size:9px;" class="badge  badge-light">{{a}}</h6>
          <h6 style="color:{{color}}; font-size:9px;" class="badge  badge-light">{{b}}</h6>
          <h6 style="color:{{color}}; font-size:9px;" class="badge  badge-light">{{c}}</h6>
          <h6 style="color:{{color}}; font-size:9px;" class="badge  badge-light">{{d}}</h6>
          <h6 style="color:{{color}}; font-size:9px;" class="badge  badge-light">{{e}}</h6>
          <h6 style="color:{{color}}; font-size:9px;" class="badge  badge-light">{{f}}</h6>
          <!--<h6 style="color:{{color}};">{{g}}</h6>-->
          <!--<h6 style="color:green;">{{f}}</h6>-->
          <!--<p class='text-muted'>You can put any information here you'd like.-->
            <!--<ul class="list-group">-->
              <!--<li class="list-group-item list-group-item-light">Latest Posts</li>-->
              <!--<li class="list-group-item list-group-item-light">Announcements</li>-->
              <!--<li class="list-group-item list-group-item-light">Calendars</li>-->
              <!--<li class="list-group-item list-group-item-light">etc</li>-->
            <!--</ul>-->
            <!--</p>-->
      </div>
    </div>

  </div>

</div>
