{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <!--{{ form.errors }}-->
    <!--{{ form.non_field_errors }}-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>
<script type="text/javascript">
        $(document).ready(function() { $('#d').tooltip({ trigger:'hover'});});
        $(document).ready(function() { $('#d1').tooltip({ trigger:'hover'});});
        $(document).ready(function() { $('#d2').tooltip({ trigger:'hover'});});
        $(document).ready(function() { $('#d3').tooltip({ trigger:'hover'});});

        $(document).ready(function() { $('#sp').tooltip({ trigger:'hover'});});
        $(document).ready(function() { $('#sp1').tooltip({ trigger:'hover'});});
        $(document).ready(function() { $('#sp2').tooltip({ trigger:'hover'});});
        $(document).ready(function() { $('#sp3').tooltip({ trigger:'hover'});});
</script>
    <form method="post"  >
        {% csrf_token %}

        <h5 style="color:gray;"><i class="fa fa-info-circle" style="font-size:12px"></i> Fan </h5>
        <!--<span class="glyphicon glyphicon-info-sign"></span>-->
        <div class="form-row">

          <div class="form-group col-md-2 mb-0">
            {{ form.status|as_crispy_field }}
          </div>

          <div class="form-group col-md-2 b-0">
            {{ form.action|as_crispy_field }}
          </div>

          <div  class="form-group col-md-2 mb-0" id='d' title="Duration in Minutes">
            {{ form.duration|as_crispy_field }}

          </div>

          <div class="form-group col-md-2 b-0" id='sp' title="Time in 24 Hour Format">
            {{ form.startTime|as_crispy_field }}
          </div>

          <div class="form-group col-md-2 b-0">
            {{ form.stopTime|as_crispy_field }}
          </div>



        </div>
<!-- add the code from the file test4remainingCode file between this        -->
        <h5 style="color:gray;"><i class="fa fa-info-circle" style="font-size:12px"></i> Pump </h5>
        <div class="form-row">

          <div class="form-group col-md-2 mb-0">
            {{ form.status1|as_crispy_field }}
          </div>

          <div class="form-group col-md-2 b-0">
            {{ form.action1|as_crispy_field }}
          </div>

          <div class="form-group col-md-2 mb-0" id='d1' title="Duration in Minutes">
            {{ form.duration1|as_crispy_field }}
          </div>

          <div class="form-group col-md-2 b-0" id='sp1' title="Time in 24 Hour Format">
            {{ form.startTime1|as_crispy_field }}
          </div>

          <div class="form-group col-md-2 b-0">
            {{ form.stopTime1|as_crispy_field }}
          </div>
        </div>

        <h5 style="color:gray;"><i class="fa fa-info-circle" style="font-size:12px"></i> Light </h5>
        <div class="form-row">

          <div class="form-group col-md-2 mb-0">
            {{ form.status2|as_crispy_field }}
          </div>

          <div class="form-group col-md-2 b-0">
            {{ form.action2|as_crispy_field }}
          </div>

          <div class="form-group col-md-2 mb-0" id='d2' title="Duration in Minutes">
            {{ form.duration2|as_crispy_field }}
          </div>

          <div class="form-group col-md-2 b-0" id='sp2' title="Time in 24 Hour Format">
            {{ form.startTime2|as_crispy_field }}
          </div>

          <div class="form-group col-md-2 b-0">
            {{ form.stopTime2|as_crispy_field }}
          </div>

        </div>

        <h5 style="color:gray;"><i class="fa fa-info-circle" style="font-size:12px"></i> Sprinkler </h5>
        <div class="form-row">

          <div class="form-group col-md-2 mb-0">
            {{ form.status3|as_crispy_field }}
          </div>

          <div class="form-group col-md-2 b-0">
            {{ form.action3|as_crispy_field }}
          </div>

          <div class="form-group col-md-2 mb-0" id='d3' title="Duration in Minutes">
            {{ form.duration3|as_crispy_field }}
          </div>

          <div class="form-group col-md-2 b-0" id='sp3' title="Time in 24 Hour Format">
            {{ form.startTime3|as_crispy_field }}
          </div>

          <div class="form-group col-md-2 b-0">
            {{ form.stopTime3|as_crispy_field }}
          </div>

        </div>



<!-- and this -->
        <table style="width:100%">
          <tr>
            <td width="25%%" colspan="10"></td>
            <td width="25%" colspan="10"></td>
            <td width="25%" colspan="10"><button type="submit" class="btn btn-success" >Send Request</button></td>
          </tr>
        </table>
    </form>

{% endblock %}
